.doctors-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .doctors-list {
    width: 70%;
  }
  
  .filter-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filter-group {
    display: flex;
    align-items: center;
  }
  
  .filter-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .filter-buttons {
    display: flex;
    margin-right: 10px;
  }
  
  .filter-btn {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-btn.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .filter-input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .table-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
  }
  
  .doctors-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .doctors-table th,
  .doctors-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .doctors-table tr.selected {
    background-color: #f5f5f5;
  }
  
  .add-doctor-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .doctor-details {
    width: 50%;
    height: 100%;
    margin: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .doctor-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .doctor-info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .doctor-info-row label {
    width: 100px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .doctor-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .doctor-logo {
    text-align: center;
  }
  
  .doctor-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .doctor-actions button {
    padding: 5px 10px;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .delete-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
  .edit-btn {
    background-color: #ffc107;
    color: #333;
  }
  
  .close-btn {
    background-color: #6c757d;
    color: #fff;
  }

  .selected-row {
    background-color: #06b4ff5d; /* Choose your preferred color */
  }

  .table-header {
    background-color: #ccc;
  }