* {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #06b4ff;
    color: #fff;
    padding: 1rem;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin-right: 1rem;
  }
  
  .logout-button:hover {
    color: #ccc;
  }
  
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 1rem;
  }
  
  .navbar-menu li button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar-menu li button:hover {
    color: #ccc;
  }
  