/* General Page Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Main Patients Page Layout */
.patients-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
}

/* Patient Detail Component */
.patients-detail {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 35%;
}

.patients-detail-card {
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 5px;
}

.patients-detail-card h2 {
  border-bottom: 2px solid #06b4ff;
  color: #06b4ff;
  margin-bottom: 6px;
}

.patients-detail-row {
  display: flex;
  margin-bottom: 6px;
  align-items: center;
}

.patients-detail-row label {
  width: 30%;
  font-weight: bold;
  padding-right: 5px;
}

.patients-detail-row input[type="text"],
.patients-detail-row input[type="password"] {
  flex-grow: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.patients-detail-actions {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.patients-edit-btn,
.patients-delete-btn,
.patients-save-btn,
.patients-cancel-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.patients-edit-btn {
  background-color: #ffc107;
  color: #333;
}

.patients-delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.patients-save-btn {
  background-color: green;
  color: #fff;
}

.patients-cancel-btn {
  background-color: #6c757d;
  color: #fff;
}

.patients-save-btn:hover {
  background-color: darken(green, 10%);
}

.patients-edit-btn:hover {
  background-color: darken(#e0a800, 10%);
}

.patients-delete-btn:hover {
  background-color: darken(#c82333, 10%);
}

.patients-cancel-btn:hover {
  background-color: darken(#5a6268, 10%);
}

/* Patient List Component */
.patients-list {
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  width: 65%;
  position: relative;
  margin-bottom: 10px;
}

.patients-list th {
  background-color: #06b4ff;
  color: white;
}

.patients-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.patients-list-header h2 {
  border-bottom: 2px solid #06b4ff;
  color: #06b4ff;
}


.patients-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  box-shadow: none;
}

.patients-table thead {
  background-color: #06b4ff; /* Color for the header */
  color: white; /* Text color for the header */
}

.patients-table th,
.patients-table td {
  padding: 4px;
  border: 1px solid #ddd;
  text-align: left;
  text-size-adjust: 80%;
}

.patients-table th {
  position: sticky;
  top: 0;
  z-index: 10;
}

.patients-table tbody tr {
  cursor: pointer; /* Indicates that rows are clickable */
  background-color: #fff; /* Background color for the body rows */
}

.patients-table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Zebra striping for rows */
}

.patients-table tbody tr:hover {
  background-color: #eaeaea; /* Hover state color */
}

/* Search Bar Component */
.patients-search-bar {
  display: flex;
  align-items: flex-end;
  padding: 4px;
  margin-bottom: 10px;
  margin-right: 20px
}

.patients-search-input {
  flex-grow: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  width: calc(100% - 30px);
  max-width: 200px;
}


/* Appointments Table Styles */
.appointments-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  border: none;
}

.appointment-title {
  color: #06b4ff;
  font-size: 12px;
  margin-bottom: 10px;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  text-align: left;
  box-shadow: none;
}

.appointments-table th,
.appointments-table td {
  padding: 4px;
  border: 1px solid #ddd;
  text-align: left;
  text-size-adjust: 80%;
}

.appointments-table th {
  background-color: #06b4ff; /* Color to match your theme */
  color: white;
}

.create-appointment-btn {
  padding: 8px 16px;
  background-color: #06b4ff; /* Color to match your theme */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.create-patient-btn {
  padding: 8px 16px;
  background-color: #06b4ff; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  position: relative;  
  margin-left: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .patients-container {
    flex-direction: column;
    align-items: stretch;
  }

  .patients-detail,
  .patients-list {
    width: 100%;
  }

  .patients-search-btn {
    width: auto;
  }
}
