.make-available-button,
.make-unavailable-button,
.edit-button,
.delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px; 
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: white;
  outline: none;
  transition: background-color 0.3s ease;
}

.make-unavailable-button {
    background-color: rgb(0, 149, 255);
}
.make-unavailable-button:hover {
    background-color: rgb(0, 96, 164);
}

.make-available-button {
    background-color: #59d75e;
}
.make-available-button:hover {
    background-color: #4caf50;
}
.edit-button{
    background-color: #f4c542;
}
.edit-button:hover {
    background-color: #c79200;
  }

.delete-button {
    background-color: #f44336;
}
  
.delete-button:hover {
    background-color: #af0d02;
  }

.resource-viewer-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-viewer-popup {
  position: relative;
  background-color: #ffffff;;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
}

.resource-viewer-popup h2 {
  margin-top: 0;
}

.resource-table-container {
  max-height: 400px;
  overflow-y: auto;
}

.resource-table {
  width: 100%;
  border-collapse: collapse;
}

.resource-table th,
.resource-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.resource-table tbody tr:nth-child(even) {
  background-color: #f2f2f230;
}
.resource-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

.add-resource-section {
  margin-top: 20px;
}

.add-resource-section input {
  margin-right: 10px;
}

.add-resource-section button {
  margin-top: 10px;
}

.resource-viewer-popup button.close-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }

.popup-title {
    color:#06b4ff;
    padding-bottom: 1pc;
}

.action-buttons {
    text-align: right;
  }
  
  .action-buttons button {
    margin-left: 5px;
  }
  