.make-available-button,
.make-unavailable-button,
.edit-button,
.delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px; 
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: white;
  outline: none;
  transition: background-color 0.3s ease;
}

.make-unavailable-button {
    background-color: rgb(0, 149, 255);
}
.make-unavailable-button:hover {
    background-color: rgb(0, 96, 164);
}

.make-available-button {
    background-color: #59d75e;
}
.make-available-button:hover {
    background-color: #4caf50;
}
.edit-button{
    background-color: #ff9d00;
}
.edit-button:hover {
    background-color: #c79200;
  }

.delete-button {
    background-color: #f44336;
}
  
.delete-button:hover {
    background-color: #af0d02;
  }

.resource-viewer-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-viewer-popup {
  position: relative;
  background-color: #ffffff;;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
}

.resource-viewer-popup h2 {
  margin-top: 0;
}

.resource-table-container {
  max-height: 400px;
  overflow-y: auto;
}

.resource-table {
  width: 100%;
  border-collapse: collapse;
}

.resource-table th,
.resource-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.resource-table tbody tr:nth-child(even) {
  background-color: #f2f2f230;
}
.resource-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }


.popup-title {
    color:#06b4ff;
    padding-bottom: 1pc;
}

.action-buttons {
    text-align: right;
  }
  
  .action-buttons button {
    margin-left: 5px;
  }
  
/* Hide the default checkbox */
input.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 5px; /* Rounded rectangle */
  outline: none;
  cursor: pointer;
  border: none; /* Remove border */
  background-color: #ccc; /* Default background color */
}

/* Custom checkbox design when checked */
input.checkbox:checked {
  background-color: #28a745; /* Green color when checked */
}

/* Lighter hover effect */
input.checkbox:hover {
  background-color: #b3b3b3; /* Light grey color on hover */
}

input.checkbox:hover::before {
  background-color: green; /* Light grey color on hover */
}

/* Hide the default checkbox indicator */
input.checkbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px; /* Center the indicator within the checkbox */
  background-color: grey; /* Color of the indicator */
  border-radius: 3px; /* Rounded rectangle */
}

/* Show custom checkbox indicator when checked */
input.checkbox:checked::before {
  content: "\2713"; /* Unicode checkmark symbol (tick) */
  font-size: 14px; /* Adjust the size of the tick mark */
  line-height: 16px; /* Center the tick mark vertically */
  text-align: center; /* Center the tick mark horizontally */
  color: white; /* Color of the tick mark */
  background-color: green;
}

thead th {
  position: sticky; /* Stick the header */
  top: 0; /* Stick the header to the top of the container */
  background-color: rgb(202, 202, 202); /* Background color for the header */
}


.add-resource-section {
  display: block;
  background-color: #8fdaff57; /* Light background color */
  padding: 20px; /* Add some padding around the section */
  border-radius: 8px; /* Add rounded corners */
  margin-top: 20px;
}



.add-resource-section h3 {
  margin-bottom: 16px; /* Add spacing below the heading */
}

.add-resource-section input{
  display:block;
  width: 98% ;
  padding: 10px;
  margin-bottom: 16px; /* Add spacing between inputs */
  font-size: 16px; /* Set font size */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Add rounded corners */
}

.add-resource-section input[type="checkbox"] {
  display: inline-block; /* Display checkboxes inline with label text */
  width: 20px; /* Auto width for checkboxes */
  margin-right: 15px; /* Add spacing between checkbox and label text */
  margin-left: 5px;
  cursor: pointer;
}

.add-resource-section button {
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Set font size */
  border: none; /* Remove border */
  border-radius: 4px; /* Add rounded corners */
  cursor: pointer; /* Add pointer cursor */
  transition: background-color 0.3s ease; /* Add transition effect */
  font-weight: bold;
}

.add-resource-section button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.resource-viewer-popup button.close-button {
  position: absolute;
  font-weight: bold;
  bottom: 5%;
  right: 50px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
